@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #34343c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-custom-blue: #0056b2;
  --color-custom-gray: #757575;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 수동으로 다크 모드로의 전환을 위해 추가 */
@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 300;
}

button {
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(to bottom, #ebe0fa, #cbf6ff);
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: linear-gradient(to bottom, #dad0e9, #bae5ee);
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(to right, #ebe0fa, #cbf6ff);
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: linear-gradient(to right, #dad0e9, #bae5ee);
}
